<nav class="nav">
  <a class="nav_link nav_active1" href="findmatch"
    ><img class="icon" src="images/search_nav.svg" alt="Find icon" />Find
    match</a
  >
  <a class="nav_link nav_active3" href="likelist"
    ><img
      class="icon"
      src="images/sports_nav.svg"
      alt="Likes icon"
    />Competition</a
  >
  <a class="nav_link nav_active2" href="myprofile"
    ><img class="icon" src="images/profile_nav.svg" alt="Profile icon" />My
    profile</a
  >
</nav>
