<nav>
    <ul>
        <li>
            <a href="findmatch"><img src="images/search.png" alt="Find icon"> Find</a>
        </li>
        <li>
            <a href="likelist"><img src="images/heart.png" alt="Match icon"> Match</a>
        </li>
        <li>
            <a href="myprofile"><img src="images/user.png" alt="Profile icon"> Your profile</a>
        </li>
    </ul>
</nav>