<nav class="nav">
        <a class="nav_link" href="findmatch"><img class="icon" src="images/searchicon.png" alt="Find icon">Find match</a>
        <a class="nav_link" href="likelist"><img class="icon" src="images/hearticon.png" alt="Likes icon">Likes</a>
        <a class="nav_link" class="nav_link_active" href="myprofile"><img class="icon" src="images/myprofileicon.png" alt="Profile icon">My profile</a>
</nav>