<nav class="nav">
        <ul>
                <li><a class="icon" href="findmatch"><img src="images/searchicon.png" alt="Find icon"> Find</a></li>
                <li><a href="likelist"><img src="images/hearticon.png" alt="Match icon"> Match</a></li>
                <li><a href="myprofile"><img src="images/myprofileicon.png" alt="Profile icon"> Your profile</a></li>
        </ul>
</nav>