<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find your match</title>
</head>
<body>
    <header>
        <h1>Find your match</h1>
    </header> 

    <main>
        <ul>
            
            <li>
                <figure>
                    <a>
                        <img src="images/user3.jpeg">
                    </a>  
                    <figcaption>
                        <h2>Naam Achternaam</h2>
                        <p>Beschrijving</p>
                        <form>
                            <button>❤</button>
                        </form>
                        <button>x</button>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </main>



    <%- include('layouts/nav'); -%>
</body>
</html>