<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find your match</title>
    <link rel="stylesheet" href="/css/style.css"></link>
</head>
<body>

    <header>
        <h1>My Matches</h1>
    </header>
    
    <main>
        <section>
                <h2>Matches</h2>
            <ul>
                    <li>
                        <figure>
                            <img src="images/user1.jpg" >
                            <figcaption>
                                <h4>Jack Oustin</h4>
                                <p>Hey, how are you</p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
            
            <section>
                    <h2>Pending</h2>
                <ul>
                        <li>
                            <figure>
                                <img src="images/user2.jpg" >
                                <figcaption>
                                    <h4>Hendrik Jansen</h4>
                                </figcaption>
                                <button>X</button>
                            </figure>
                        </li>
                </ul>
            </section>
    </main>

    <%- include('layouts/nav'); -%>
</body>
</html>