<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"></link>
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form>
        <label>Pick a user
            <select>
                <option>Emerson McSweeney</option>
                <option>Ruth Williams</option>
                <option>Billy Hancock</option>
                <option>Anna Alexandria</option>
                <option>Kim de Vries</option>
                <option>Sophie Jansen</option>


            </select>
        </label>
        <input type="submit">
    </form>
</body>
</html> 