* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7fa;

}

/* Header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: #041B32;
}

.apptitle{
    text-align: center;
    font-size: 2.1em;
    color: white;
    margin-top: 0.2em;
}


/* Navigatie bar */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    max-height: 6em;
    box-shadow: 0 0 3px rgb(0 0 0 / 20%);
    background-color: #041B32;
    display: flex;
    
}

.nav_active3{
    background-color: #34528D;
}


.icon {
    width: 3em;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    color: white;
    text-decoration: none;
}

.roundpic{
   border-radius: 50%;
   height: 45px;
   width: 45px;
   position: absolute;

}

figure{
    margin: 1.3em;
}
h2{
    font-size: 23px;
    margin: 10px 40px 10px 25px;
}

figcaption{
    margin-left: 3.3em;
}

li{


}

main {
    margin-top: 5em;
}